# Base16 {{scheme-name}} theme
# by {{scheme-author}}
blank="#{{base00-hex}}55"
text="#{{base07-hex}}"
dark="#{{base00-hex}}"
default="#{{base0E-hex}}cc"
wrong="#{{base08-hex}}bb"
verifying="#{{base0B-hex}}cb"
type="#{{base0C-hex}}"
delete="#{{base0F-hex}}"
