library: ~/.config/beets/library.db
directory: ~/music

ui:
  color: yes
  colors:
    text_success: green
    text_warning: yellow
    text_error: red
    text_highlight: red
    text_highlight_minor: lightgray
    action_default: turquoise
    action: blue

import:
  write: yes       # -w -W
  copy: no         # -c -C
  move: yes
  resume: ask      # -p -P
  timid: no        # -t
  group_albums: no # -g
  autotag: yes     # -a
  duplicate_action: ask
  bell: yes
  languages: en ru

asciify_paths: yes
per_disc_numbering: yes

paths:
  default: '%lower{$albumartist}/%lower{$album%aunique{}}/%lower{${track}-${title}}'
  singleton: '%lower{$artist}/%lower{$title}'
  albumtype:soundtrack: 'soundtracks/%lower{$album%aunique{}}/%lower{${track}-${title}}'
  comp: 'compilations/%lower{$album%aunique{}}/%lower{${track}-${title}}'

replace        :
  '&'          : 'and'
  '\+'         : 'plus'
  '='          : 'equal'
  '[~!\\/<>"\?\*\|\[\]()]': ''
  "'"          : ''
  '[\.]+$'     : ''
  '^[\.]'      : ''
  '\. '        : ' '
  '\s+$'       : ''
  '^\s+'       : ''
  '\s*[-,;     :]\s*': '-'
  ' '          : '-'
  '[\x00-\x1f]': _

musicbrainz:
  searchlimit: 15

plugins:
  - badfiles
  - chroma
  - edit
  - duplicates
  - fetchart
  - info
  - lastgenre
  - lyrics
  - mbsubmit
  - mbsync
  - missing
  - mpdstats
  - mpdupdate
  - playlist
  - scrub
  - unimported

albumtypes:
  types:
    - ep: 'EP'
    - single: 'Single'
    - remix: 'Remix'
    - live: 'Live'
    - soundtrack: 'OST'
    - compilation: 'Anthology'
  ignore_va: compilation
  bracket: '[]'

badfiles:
  check_on_import: yes

chroma:
  auto: yes

edit:
  itemfields: track title artist album
  albumfields: album albumartist

fetchart:
  auto: yes
  minwidth: 0
  maxwidth: 0
  quality: 0
  max_filesize: 0
  enforce_ratio: no
  cautious: no
  cover_names:
  - cover
  - front
  - art
  - album
  - folder
  sources:
  - filesystem
  - coverart
  - itunes
  - amazon
  - albumart
  store_source: no
  high_resolution: no
  deinterlace: no

lastgenre:
  auto: yes
  canonical: no
  count: 5
  fallback:
  force: yes
  min_weight: 10
  prefer_specific: no
  source: album
  whitelist: yes
  title_case: yes

lyrics:
  auto: no

mpd:
  # host: $MPD_HOST
  # port: $MPD_PORT
  # password:
  # music_directory:

  rating: yes
  rating_mix: 0.75

playlist:
  auto: yes
  playlist_dir: ~/.config/mpd/playlists
  relative_to: library
  forward_slash: no

scrub:
  auto: yes

unimported:
  ignore_extensions: jpg png txt md org
  ignore_subdirectories: Unsorted import
