.bar {
  background-color: rgba($base00, 0.2);
  color: $base07;
  font-family: $text-font;
  font-size: 12pt;
  text-shadow: 1 1 $base00;
}

.leftside  { padding-left:  7px }
.rightside { padding-right: 7px }

.widget.colored.1 { box-shadow: inset 0 -$accent-line-width $base08 }
.widget.colored.2 { box-shadow: inset 0 -$accent-line-width $base09 }
.widget.colored.3 { box-shadow: inset 0 -$accent-line-width $base0A }
.widget.colored.4 { box-shadow: inset 0 -$accent-line-width $base0B }
.widget.colored.5 { box-shadow: inset 0 -$accent-line-width $base0C }
.widget.colored.6 { box-shadow: inset 0 -$accent-line-width $base0D }
.widget.colored.7 { box-shadow: inset 0 -$accent-line-width $base0E }

.icon,
.workspaces button { font: 12pt $icon-font }

.shutdown,
.reboot,
.suspend,
.lock-screen,
.log-out {
  font-size: 14pt;
}

.ws-urgent       { color: $base08; }
.ws-current-main { border-top: 2px solid $base0E; border-bottom: 2px solid $base00; }
.ws-current-side { border-top: 2px solid $base00; border-bottom: 2px solid $base0F; }
.ws-filled       { color: $base07; }
.ws-empty        { color: $base02; }

.status-widget {
  margin: 0 7px;
}

.separator {
  color: $base03;
  text-shadow: none;
  padding: 0 1px;
}

.widget.logo {
}

.widget.time {
}

.workspaces {
}

.workspace-entry {
  font: 12pt $icon-font;
  padding: 0 7px;
}

.workspace-entry.empty {
  color: $base07;
  opacity: 0.4;
}
.workspace-entry.occupied {
  color: $base07;
}
.workspace-entry.urgent {
  color: $base08;
}

.workspace-entry.monitor_0 {
  background-color: $base03;
  box-shadow: inset 0 -$indicator-line-width $base0E;
}
.workspace-entry.monitor_1 {
  box-shadow: inset 0 -$indicator-line-width $base04;
}





.widget.player {
  font-family: $text-font;
}









.graph.net-down {
  color: $base0D;
}

.graph.net-up {
  color: $base0A;
}















.profile {
}

.profile-face {
    margin: 5px;

    background-size: cover;
    background-position: center;

    border-radius: 50%;
    border: 2px solid $base04;
}
