# Base16 {{scheme-name}} theme
# by {{scheme-author}}

color={{base00-hex}}ff

inside-color={{base00-hex}}55
inside-clear-color={{base00-hex}}55
inside-caps-lock-color={{base0F-hex}}
inside-ver-color={{base0B-hex}}cb
inside-wrong-color={{base08-hex}}bb

line-color={{base00-hex}}55
line-clear-color={{base00-hex}}55
line-caps-lock-color={{base0F-hex}}55
line-ver-color={{base0B-hex}}cb
line-wrong-color={{base08-hex}}bb

ring-color={{base0A-hex}}cc
ring-clear-color={{base0A-hex}}cc
ring-caps-lock-color={{base0F-hex}}55
ring-ver-color={{base0B-hex}}cb
ring-wrong-color={{base08-hex}}bb

separator-color={{base0A-hex}}cc

text-color={{base07-hex}}
text-clear-color={{base07-hex}}
text-caps-lock-color={{base07-hex}}
text-ver-color={{base00-hex}}55
text-wrong-color={{base07-hex}}

key-hl-color={{base0F-hex}}
bs-hl-color={{base08-hex}}
caps-lock-bs-hl-color={{base0B-hex}}cb
caps-lock-key-hl-color={{base08-hex}}

layout-bg-color={{base00-hex}}00
layout-border-color={{base00-hex}}00
layout-text-color={{base07-hex}}
