[base16_critical]
msg_urgency = critical
foreground = "#{{base0A-hex}}"
background = "#{{base08-hex}}11"
frame_color = "#{{base08-hex}}AA"

[base16_normal]
msg_urgency = normal
foreground = "#{{base07-hex}}"
background = "#{{base02-hex}}33"
frame_color = "#{{base06-hex}}88"

[base16_low]
msg_urgency = low
foreground = "#{{base04-hex}}"
background = "#{{base00-hex}}33"
frame_color = "#{{base05-hex}}33"
