-- base16
-- Scheme name: {{scheme-name}}
-- Scheme author: {{scheme-author}}
-- Template author: Artem Smaznov

BASE00 = "{{base00-hex}}"
BASE01 = "{{base01-hex}}"
BASE02 = "{{base02-hex}}"
BASE03 = "{{base03-hex}}"
BASE04 = "{{base04-hex}}"
BASE05 = "{{base05-hex}}"
BASE06 = "{{base06-hex}}"
BASE07 = "{{base07-hex}}"
BASE08 = "{{base08-hex}}"
BASE09 = "{{base09-hex}}"
BASE0A = "{{base0A-hex}}"
BASE0B = "{{base0B-hex}}"
BASE0C = "{{base0C-hex}}"
BASE0D = "{{base0D-hex}}"
BASE0E = "{{base0E-hex}}"
BASE0F = "{{base0F-hex}}"
