.music-player {
    background: rgba($base0E, 0.4);
    color: $base07;
    padding: 20px;
    border-radius: 1.5rem;
}

.music-player-album-art-reactive .icon {
    font-size: 64pt;
    border-radius: 1.5rem;
    background: radial-gradient(at center, transparent, $base01);
}

.music-player-album-art {
    $album-art-size: 150px;

    border-radius: 1.5rem;
    background-size: cover;
    background-position: center;
    min-height: $album-art-size;
    min-width: $album-art-size;
}

.music-player-rating-bar {
    margin: 5px 0;
    transition-duration: 3s;
    trough {
        background: $base03;
        min-width: 5px;
        border-radius: 1rem;
        transition-duration: inherit;
        progress {
            background: linear-gradient(to top, $base08, $base04, $base0A);
            min-width: 5px;
            border-radius: 1rem;
            transition-duration: inherit;
        }
    }
}

.music-player-track-title {
    font-size: 20pt;
    font-weight: bold;
}

.music-player-track-artist {
    font-size: 14pt;
    color: lighten($base0E, 20);
    opacity: 0.6;
}

.music-player-track-album {
    font-size: 14pt;
    color: $base05;
    opacity: 0.6;
}

.music-player-controls button:hover {
    background: rgba($base03, 0.8);
    border-radius: 50%;
}

.music-player-progress-bar {
    margin: 0 15px;
    trough {
        background-color: $base03;
        border-radius: 1rem;
        min-height: 7px;
        min-width: 50px;
        highlight {
            background-color: $base07;
            border-radius: 1rem;
        }
        slider {}
    }
}

.music-player-controls button {
    min-width:  40px;
    min-height: 40px;
}

.music-player-controls .icon {
    font-size: 18pt;
}
