#window {
    background-color: rgba(--wofi-rgb-color0, 0.6);
    color: --wofi-color7;
    font-family: "Hack Nerd Font";
    font-size: 14pt;
}

#outer-box,
#input,
#inner-box,
#entry:selected {
    border-radius: 1rem;
}

#outer-box {}

#input {
    background-color: transparent;
    color: --wofi-color7;
    border: none;
    padding: 20px;
    font-size: 16pt;
    outline: none;
}

#input:focus {
    /* background-color: rgba(--wofi-rgb-color14, 0.2); */
    /* border: 5px solid rgba(--wofi-rgb-color14, 0.5); */
    border: none;
    outline: none;
}

#inner-box{
    margin: 0px 20px 20px;
    color: rgba(--wofi-rgb-color5, 0.7);
}

/* #entry:nth-child(odd) { */
/*     background-color: rgba(--wofi-rgb-color3, 0.2); */
/* } */

/* #entry:nth-child(even) { */
/*     background-color: @base01; */
/* } */

#img,
#text {
    margin: 10px;
}

#img {
    margin-right: 3px;
}

#entry:selected {
    background-color: rgba(--wofi-rgb-color14, 0.4);
    outline: none;
}

#text:selected {
    color: --wofi-color7;
}
